{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MidnightClear</title>
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<div class="header header-fixed">
    <div class="navbar container">
        <div class="logo"><a href="#home">Midnight Clear</a></div>
        <input type="checkbox" id="navbar-toggle" >
        <label for="navbar-toggle"><i></i></label>
        <nav class="menu">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                
                <li><a href="#contacts">Contacts</a></li>
            </ul>
        </nav>        
    </div>
</div>
      
<body>
    <!-- Hero Section -->
    <section id="hero">
        <div class="hero-container"></div>
        <div class="hero-text">
            <h1>Midnight Clear</h1>
        
        </div>







    </section>
    <!-- About Section -->
    <section>
        <div class="about-container">

        </div>
        







    </section>
    <!-- Contacts Section -->
    <section>
        <div class="contacts-container">

        </div>








    </section>
    
</body>
</html>